body {
    background-color: rgb(238, 254, 255);
    width: 100%;
    text-align: center;
    font-family: mina, Courier, monospace;
}
h1 {
    font-family: mina, Courier, monospace;
    background-color: rgba(58,124,180,1);
    color: white
}
a {
    font-family: mina, Courier, monospace;
 
}
.center {
    display: inline-block;
  margin: 0 auto;
  border: 1px solid black;
}
.center-banner {
    height: 20%;
    background-color: rgba(58,124,180,1);
}
.left-top {
    background: linear-gradient(225deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}
.left-bottom {
    background: linear-gradient(315deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}

.right-top {
    background: linear-gradient(135deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}
.right-bottom {
    background: linear-gradient(45deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}

.triangle {
    width: 10%;
    height: 10%;
    float:none;
}