/* alla css-selectors som är taggar i detta dokuemnt har som huvudsyfte att skriva över css från gruppens styles.css */
/* min personliga sida anänder främst css klasser för att styra stilen på sidan */
body {
    background-color: rgb(238, 254, 255);
    width: 100%;
    height: 100%;
    text-align: unset;
    font-family: mina, Courier, monospace;
}
h1 {
    font-family: mina, Courier, monospace;
    font-weight: unset;
    font-style: normal;
    font-size: unset;
    color:black;
}
nav{
    margin: unset;
    width: 100%;
    padding: 10px;
}
div{
    width: unset;
    float: unset;
}

/* nedan kommer de css klasser som främst används för att styla min personliga sida */

/* css för header banner */
.banner-container{
    width: 80%;
    height: 20%;
    margin: auto;
    padding: 10px;
}
.banner-header {
    color: white;
    font-size: 35px;
    height: 74px;
    text-align: center;
    background-color: rgba(58,124,180,1);
}
.banner-wing-left{
    float: left;
    width: 10%;
}
.banner-wing-right{
    float: right;
    width: 10%;
}
.banner-wing-left-top {
    background: linear-gradient(225deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}
.banner-wing-left-bottom {
    background: linear-gradient(315deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}
.banner-wing-right-top {
    background: linear-gradient(135deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}
.banner-wing-right-bottom {
    background: linear-gradient(45deg, rgba(58,124,180,1) 0%, rgba(58,124,180,1) 50%, rgb(238, 254, 255) 50%,rgb(238, 254, 255) 100%);
}