/* alla css-selectors som är taggar i detta dokument har som huvudsyfte att skriva över css från gruppens styles.css */
/* min personliga sida anänder främst css klasser för att styra stilen på sidan */
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(238, 254, 255);
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: mina, Courier, monospace;
    font-weight: unset;
    font-style: normal;
    font-size: unset;
    color:black;
}
nav{
    margin: unset;
    width: 100%;
    padding: 10px;
}
div{
    width: unset;
    float: unset;
}

article {
    margin-top: 1em;
}

ul {
    color: rgb(117, 12, 12);
    list-style-type: none;
    padding: 0; /* här tar vi bort punkterna på ul för att skapa rätt avstånd mellan texterna i kontaktuppgifter */
}

p {
    color: rgb(58,124,180);
}
/* nedan kommer de css klasser som främst används för att styla min personliga sida */

/* css för header banner */
.banner-container{
    width: 80%;
    height: 20%;
    margin: 0 auto;
}
/* vänster vinge */
.banner-wing-left{
    float: left;
    width: 10%;
    height: 100%;
}
.banner-wing-left-top {
    height: 50%;
    background: linear-gradient(225deg, rgb(58,124,180) 0%, rgb(58,124,180) 50%, rgb(238, 254, 255) 50%, rgb(238, 254, 255) 100%);
}
.banner-wing-left-bottom {
    height: 50%;
    background: linear-gradient(315deg, rgb(58,124,180) 0%, rgb(58,124,180) 50%, rgb(238, 254, 255) 50%, rgb(238, 254, 255) 100%);
}
/* banners text container */
.banner-header {
    color: white;
    font-size: 4vw; /* textstorlek baserat på vyns storlek */
    height: 100%;
    text-align: center;
    font-family: mina, Courier, monospace;
    background-color: rgb(58,124,180);
    /* overflow: hidden; */
}

/* höger vinge */
.banner-wing-right{
    float: right;
    width: 10%;
    height: 100%;
}
.banner-wing-right-top {
    height: 50%;
    background: linear-gradient(135deg, rgb(58,124,180) 0%, rgb(58,124,180) 50%, rgb(238, 254, 255) 50%, rgb(238, 254, 255) 100%);
}
.banner-wing-right-bottom {
    height: 50%;
    background: linear-gradient(45deg, rgb(58,124,180) 0%, rgb(58,124,180) 50%, rgb(238, 254, 255) 50%, rgb(238, 254, 255) 100%);
}
/* här slutar bannern */

/* här börjar grid-relaterad css */
.grid-container {
    width: 80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.grid-container > div{
    background: rgb(178, 243, 255);
    padding: 1em;
    text-align: left;
}
/* här slutar grids */

.text-left {
    text-align: left;
}

.list-dot {
    padding-left: 1em;
    list-style-type: circle;
}

.menu-block {
    width: 33.33%;
    float: left;
}