body {
    background-color: #FFF4F4;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: p22-arts-and-crafts, sans-serif;
    font-weight: bold;
    font-style:normal;
    font-size: 50px;
    color:black
   
}
nav{
    margin: auto;
    width: 100%;
    padding: 10px;
}
div{
    width: 33.33%;
    float: left;
}
a { /*detta block skriver över länkarnas storlek*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    /* margin:80px; */
    color:black;
    text-decoration-color: #FFF4F4;
}
h2{
    margin-top: 50px;
}
article {
    width:200px;
    display: inline-block;
    border: 1px solid rgb(117, 12, 12);
}
ul {
    color: #FF7F00;
    list-style-type: none;
    padding: 0; /* här tar vi bort punkterna på ul för att skapa rätt avstånd mellan texterna i kontaktuppgifter */
}
li:first-child {
    font-weight: bold;
}
img {
    margin: 10px;
}
footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: small;
    margin-top: 40px;
}
.border{
    border-top: 1px solid rgb(117, 12, 12);
    border-bottom: 1px solid rgb(117, 12, 12);
}
.highlight {
    color: rgb(117, 12, 12);
}