body {
    background-color: #FFF4F4;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: p22-arts-and-crafts, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
    color: #FFF4F4;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
a { /*detta block skriver över länkarnas storlek*/
    font-family: p22-arts-and-crafts,sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 80px;
    color:black;
    text-decoration: none;
}
h2{
    margin-top: 35px;
}
article {
    
    padding:6px;
    width:300px;
    border: 1px solid black;
    display: inline-block;
    
}
ul {
    color: #FF7F00;
    list-style-type: none;
}
li:first-child {
    font-weight: bold;
}
img {
    margin: 80px;
}
footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: small;
    margin-top: 40px;
}
.border{
    border-top: 1px solid rgb(117, 12, 12);
    border-bottom: 1px solid rgb(117, 12, 12);
}
.highlight {
    color: rgb(117, 12, 12);
}